WTForms~=3.0.1
pandas~=2.0.0
numpy~=1.24.2
Flask~=2.2.3
matplotlib~=3.7.1
Werkzeug~=2.2.3
Jinja2~=3.1.2
scikit-learn~=1.2.2
seaborn~=0.12.2
flask_login
flask_migrate
flask_wtf
flask_sqlalchemy
sqlalchemy~=2.0.9
email_validator
python-decouple
gunicorn
docx-mailmerge~=0.5.0
docxcompose~=1.4.0
docx~=0.2.4
category_encoders
mysql~=0.0.3
mysql-connector-python~=8.0.33
statsmodels~=0.13.2
plotly~=5.7.0
requests~=2.28.2
joblib~=1.2.0
MarkupSafe~=2.1.2