{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% include 'applications/includes/model_controllers.html' %}
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="icon icon-shape bg-primary text-white rounded-circle shadow float-right">
                        <i class="fas fa-clock"></i>
                    </div>
                    <p class="card-category">Running Duration</p>
                    <h3 class="card-title">{{ running_duration }}</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow float-right">
                        <i class="fas fa-percent"></i>
                    </div>
                    <p class="card-category">Accuracy</p>
                    <h3 class="card-title" data-toggle="tooltip" data-placement="top"
                        title="On average, predicted values were 0 off from actual values.">± {{ accuracy }} %</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow float-right">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                    <p class="card-category">Data Characteristic</p>
                    <table class="table align-items-center">
                        <thead class="thead-light">
                        <td>Categories</td>
                        <td>Most common words</td>
                        </thead>
                        <tbody class="list">
                        <tr>
                            <td style="word-wrap: break-word!important; white-space:pre-wrap; vertical-align: top;">{{ classification_categories }}</td>
                            <td style="word-wrap: break-word!important; white-space:pre-wrap; vertical-align: top;">{{ most_common[1:-1] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h2 class="card-title ">The classification confusion matrix</h2>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    {% include plot_image_path %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <div>
                    <h4 class="card-title ">Export the model</h4>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Webpage</h4>
                <p class="card-category">Create web page tp predict values and also you can embed this page into
                    your system.</p>
                <a class="nav-link" data-toggle="modal" data-target="#webpageModal" href="#webpageModal">
                    <button type="button" class="btn btn-success pull-right">Create Webpage</button>
                </a>
                <div class="ripple-container"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <div>
                    <h4 class="card-title ">Integrate woth other systems</h4>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">APIs</h4>
                <p class="card-category">APIs library to integrate your model with other system without any new line of
                    code or hardware needed.</p>
                <form name="downloadapisdocument" method="get" action="/{{ model_id }}/downloadapisdocument">
                    <button type="submit" class="btn btn-danger pull-right">Download APIs Document</button>
                </form>
                <div class="ripple-container"></div>
            </div>
        </div>
    </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

        });
    </script>

{% endblock javascripts %}
