{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h1 class="card-title ">
                        <i class="fa fa-lightbulb text-yellow"></i>
                        Tell us what's in your mind</h1>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <form action="/analyserequest" method="post">
                    <div class="modal-body">
                        <textarea class="form-control lead text-primary" name="text_value" rows="5" id="text_value" placeholder="Explain your idea..." required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Analyse the Text</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
{% block javascripts %}

    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();
        });
    </script>

{% endblock javascripts %}

